<a href="https://colab.research.google.com/github/Madhuriganji/AI_ML_Avanthi_Madhuri/blob/main/fundamentals_week1_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
 x=[1,2,3,4,5,6]
sum=0
for i in x[1:4:1]:
  sum=sum+i
print("sum of x is:",sum)

sum of x is: 9

In [32]:
a=[1,2,3]
b=[4,5,6]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6]

In [43]:
a=[1,2,3]
b=[4,5,6]
sum_list=[]
for i in range(len(a)):
  sum_list.append(a[i]+b[i])

print(sum_list)

[5, 7, 9]

In [51]:
result=[]
for i in range(2000,3201):
  if i%7==0 and i%5!=0:
   result .append(str(i))
print(",".join(result))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [59]:
n=int(input("enter the numbers"))
d=dict()
for i in range(1,n+1):
  d[i]=i*i
print(d)

enter the numbers8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}