<a href="https://colab.research.google.com/github/Madhuriganji/AI_ML_Avanthi_Madhuri/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x=[1,32,24,13,97,1,8,14,99,34,5,56,8,23]
sum=0
for i in x:
    if i%2==0:
      sum+=i
print(sum)

176

In [4]:
n=int(input("enter anumber"))
copy=n
sum=0
while n>0:
   digit=n%10
   cube = digit**3
   n=n //10
   sum+=cube
if sum ==copy:
   print("Armstrong Number")
else:
  print("Not an Armstrong Number")

enter anumber153
Armstrong Number

In [ ]:
x=[1,32,24,13,97,1,8,14,99,34,5,56,8,23]
 for i in range(len(x))
  if x[i]%==0
    for j in range(i+1,len(x)):
      if x[i]=x[j]
        break

In [11]:
my_dict={
    "name":"madhuri",
    "age": 19,
    "phone number":9347905515,
    "favorite food":"chicken biryani"
}
print("original dictionary:",my_dict)

original dictionary: {'name': 'madhuri', 'age': 19, 'phone number': 9347905515, 'favorite food': 'chicken biryani'}

In [ ]:
x=[3,3,5,7,7,5,3,5,5,3]
dict={}
distinct=set(x)
for i in distinct:
     dict[i]=0
for i in range(len(x)):
    dict[x[i]]+=1
print(dict)

In [ ]:
x=[3,6,8,21,5,7,24,31,0,61]
temp =0
for i in x:
    temp =x[i]+ 1
    x[i]=x[j]
    x[j]=temp
print(x)